* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  letter-spacing: 1px;
  transition-duration: 0.4s;
}

body {
  width: 100vw;
  overflow-x: hidden;
  background-color: #e3d6ff;
  font-family: "Ibarra Real Nova", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.line {
  width: 330px;
  height: 1px;
  background-color: #000;
  margin: auto;
}

.test№ {
  margin-top: 25px;
  font-weight: 600;
  font-size: 20px;
  letter-spacing: 0.015em;
}
